#add-points {
  text-align: center;
}

.score {
    color: #f30b70;
    height: 150px;
    font-weight: bold;
    background: #fccee2;
}

.point-item {
  text-align: left;
}

img.medium {
  width: 90px;
  vertical-align: middle;
}

img.small {
  width: 30px;
  vertical-align: middle;
}

h2.points-header {
    text-align: left;
    padding-left: 20px
}

span.points {  
  width: 30%;
  align-items: center;   
  display: inline-block;  
}

span.narrow {  
  width: 10%;
  align-items: center;   
  display: inline-block;  
}

span.notes {  
  display: inline-block;  
  vertical-align: middle;
  width: 40%;  
}

.Points-form-list-container {
  display: flex;
  flex-direction: row;
}

.Points-form {
  flex-basis: 40%;
  flex-shrink: 2;
}

.Points-form-row {
    display: inline-block;
    height: 120px;
}

.Points-list {
  flex-basis: 60%;
  text-align: center;
}

.Points-holder {
  padding: 10px 20px;
  border: 2px black solid;
  text-align: left;
  margin: 7px;
}

.button {
    width: 100px;
    margin-top: 5px;
    background-color: dodgerblue;
    color: white;
    padding: 3px 5px;
    align-self: center;
}

.happyface-form {
    display: flex, inline-block;
    flex-direction: row;    
    text-align: center;
    height: 50px;
    
}

.formtext {
  padding: 5px 10px;
  width: 45px;
  text-self: right;    
  vertical-align: middle;
  
}

.forminput {
  padding: 0px 10px;
  width: 15px;
  align-self: right;    
  vertical-align: middle;
}

textarea {
  height:100px;
}

.newline {
    position: relative;
    top      : 125px;
    left     : -150px;        
    
}